numpy
scipy
pandas
matplotlib
seaborn
tqdm
scikit-learn
imbalanced-learn
umap-learn
spacy
# en-core-web-sm
nltk
wordcloud
jupyter-notebook
tsfresh
MulticoreTSNE
kaggle
torch
torch_lr_finder
torchvision
